Repository DeFiCh/defichain.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(ui-ux): changed to metachain (#695)
  cypress/e2e/homepage.spec.ts
  cypress/e2e/metachain/metachain.spec.ts
  public/locales/de/page-index.json
  public/locales/en-US/layout.json
  public/locales/en-US/page-index.json
  public/locales/en-US/page-meta-chain.json
  public/locales/fr/page-index.json
  public/locales/zh-Hans/page-index.json
  public/locales/zh-Hant/page-index.json
  src/layouts/components/Header.tsx
  src/layouts/components/HeaderNavLinkItem.tsx
  src/pages/explore/masternodes/SvgIconsColumn.tsx
  src/pages/metachain/_components/MetaChainAgenda.tsx
  src/pages/metachain/_components/MetaChainFAQ.tsx
  src/pages/metachain/_components/MetaChainKeyFeatures.tsx
  src/pages/metachain/_components/MetaChainRoadmap.tsx
  src/pages/metachain/index.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

handled agenda status bg color for all languages
  public/locales/de/page-meta-chain.json
  public/locales/en-US/page-meta-chain.json
  public/locales/fr/page-meta-chain.json
  public/locales/zh-Hans/page-meta-chain.json
  public/locales/zh-Hant/page-meta-chain.json
  src/pages/metachain/_components/MetaChainAgenda.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(translation): metachain translations (#696)
  public/locales/de/page-meta-chain.json
  public/locales/en-US/page-meta-chain.json
  public/locales/fr/page-meta-chain.json
  public/locales/zh-Hans/page-meta-chain.json
  public/locales/zh-Hant/page-meta-chain.json
  src/pages/metachain/_components/MetaChainAgenda.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

updated test id
  cypress/e2e/explore/masternodes.spec.ts
Owners: none

edited the width of mobile view
  src/pages/metachain/_components/MetaChainAgenda.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(deps): update deps and corepack
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(deps): lint issue
  src/pages/bug-bounty/index.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(deps): lint issue
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  README.md
  netlify.toml
  src/pages/learn/[slug].page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(deps): lint issue
  src/pages/learn/index.page.tsx
  src/pages/privacy-policy.page.tsx
  src/pages/security.page.tsx
  src/pages/white-paper.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(deps): lint issue
  package.json
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(deps): lint issue
  pnpm-lock.yaml
Owners: none

chore(deps): update deps and corepack (#699)
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  README.md
  netlify.toml
  package.json
  pnpm-lock.yaml
  src/pages/bug-bounty/index.page.tsx
  src/pages/learn/[slug].page.tsx
  src/pages/learn/index.page.tsx
  src/pages/privacy-policy.page.tsx
  src/pages/security.page.tsx
  src/pages/white-paper.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk, @G9000

chore(deps): add lighthouse
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

added test ids
  content/white-paper/white-paper.en-US.md
  cypress/e2e/whitepaper.spec.ts
Owners: none

added meta pixel
  src/pages/_app.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

added to CSP
  next.config.js
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(refactor): added meta pixel (#701)
  next.config.js
  src/pages/_app.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk, @G9000

fix scrolling bug
  src/pages/white-paper.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

update navigation on sidemenu test
  cypress/e2e/whitepaper.spec.ts
  src/pages/white-paper.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

added test ids
  content/privacy-policy/privacy-policy.en-US.md
  cypress/e2e/explore/privacy.spec.ts
Owners: none

fix scrolling bug (#703)
  src/pages/white-paper.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

update scroll flow for navigation test
  cypress/e2e/whitepaper.spec.ts
Owners: none

feature(ops): update to node 18
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feature(ops): update to node 18 (#704)
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(e2e): privacy-policy (#671)
  content/privacy-policy/privacy-policy.en-US.md
  cypress/e2e/explore/privacy.spec.ts
  cypress/fixture/privacy.config.ts
  src/pages/privacy-policy/_components/TableOfContents.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(e2e): whitepaper (#670)
  content/white-paper/white-paper.en-US.md
  cypress/e2e/whitepaper.spec.ts
  cypress/fixture/whitepaper.config.ts
  cypress/support/commands.ts
  src/pages/whitePaper/TableOfContents.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feature(update): remove DFX from wallets
  cypress/deprecated/dfi.spec.ts
  cypress/deprecated/downloads.spec.ts
  cypress/fixture/dfi.config.ts
  package.json
  pnpm-lock.yaml
  public/locales/de/page-downloads.json
  public/locales/de/page-explore-wallets.json
  public/locales/en-US/page-downloads.json
  public/locales/en-US/page-explore-wallets.json
  public/locales/fr/page-downloads.json
  public/locales/fr/page-explore-wallets.json
  public/locales/zh-Hans/page-downloads.json
  public/locales/zh-Hant/page-downloads.json
  src/components/icons/assets/exchanges/index.ts
  src/layouts/components/BuyDFIButton.tsx
  src/pages/explore/dfi/_components/GetDFISectionExchanges.tsx
  src/pages/explore/wallets/_components/ForDailyUseSection.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk, @G9000

feature(update): remove DFX from wallets
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feature(update): remove DFX from wallets (#708)
  cypress/deprecated/dfi.spec.ts
  cypress/deprecated/downloads.spec.ts
  cypress/fixture/dfi.config.ts
  package.json
  pnpm-lock.yaml
  public/locales/de/page-downloads.json
  public/locales/de/page-explore-wallets.json
  public/locales/en-US/page-downloads.json
  public/locales/en-US/page-explore-wallets.json
  public/locales/fr/page-downloads.json
  public/locales/fr/page-explore-wallets.json
  public/locales/zh-Hans/page-downloads.json
  public/locales/zh-Hant/page-downloads.json
  src/components/icons/assets/exchanges/index.ts
  src/layouts/components/BuyDFIButton.tsx
  src/pages/explore/dfi/_components/GetDFISectionExchanges.tsx
  src/pages/explore/wallets/_components/ForDailyUseSection.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk, @G9000

feature(update): remove DFX from wallets
  public/locales/en-US/page-explore-wallets.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

removed old me]ta-chain folder
  src/pages/meta-chain/_components/MetaChainFAQ.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

changed to Bake for exchanges
  cypress/deprecated/dfi.spec.ts
  src/components/icons/assets/exchanges/Bake.tsx
  src/components/icons/assets/exchanges/Cakedefi.tsx
  src/components/icons/assets/exchanges/index.ts
  src/pages/explore/dfi/_components/GetDFISectionExchanges.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(ui-ux): changed Cake Defi to Bake (#711)
  cypress/deprecated/dfi.spec.ts
  src/components/icons/assets/exchanges/Bake.tsx
  src/components/icons/assets/exchanges/Cakedefi.tsx
  src/components/icons/assets/exchanges/index.ts
  src/pages/explore/dfi/_components/GetDFISectionExchanges.tsx
  src/pages/meta-chain/_components/MetaChainFAQ.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): update MetaChain link and title
  cypress/e2e/homepage.spec.ts
  public/locales/de/page-index.json
  public/locales/en-US/page-index.json
  public/locales/fr/page-index.json
  public/locales/zh-Hans/page-index.json
  public/locales/zh-Hant/page-index.json
  src/components/index/ReadyForFlexibility.tsx
  src/layouts/components/HeaderNavLinkItem.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

use en translation for metachain banner on other languages
  public/locales/de/page-index.json
  public/locales/fr/page-index.json
  public/locales/zh-Hans/page-index.json
  public/locales/zh-Hant/page-index.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

remove second paragraph from metachain homepage banner
  public/locales/de/page-index.json
  public/locales/en-US/page-index.json
  public/locales/fr/page-index.json
  public/locales/zh-Hans/page-index.json
  public/locales/zh-Hant/page-index.json
  src/components/index/ReadyForFlexibility.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

add de and fr translation for homepage metachain banner
  public/locales/de/page-index.json
  public/locales/fr/page-index.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): update MetaChain link and title on homepage (#717)
  cypress/e2e/homepage.spec.ts
  public/locales/de/page-index.json
  public/locales/en-US/page-index.json
  public/locales/fr/page-index.json
  public/locales/zh-Hans/page-index.json
  public/locales/zh-Hant/page-index.json
  src/components/index/ReadyForFlexibility.tsx
  src/layouts/components/HeaderNavLinkItem.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): add homepage metachain banner text zhs-zht translation
  public/locales/zh-Hans/page-index.json
  public/locales/zh-Hant/page-index.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(route): update routing for /learn and its child pages
  next.config.js
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @thedoublejay
/.husky/                                        @thedoublejay

/src/                                           @thedoublejay @kyleleow @pierregee @G9000 @veralygit @nattadex @chloezxyy @kevzzsk

/src/styles/                                    @thedoublejay @kyleleow @pierregee @G9000 @veralygit @nattadex @chloezxyy @kevzzsk

/public/                                        @thedoublejay @kyleleow @pierregee @G9000 @veralygit @nattadex @chloezxyy @kevzzsk

next.config.js                                  @thedoublejay @kyleleow @pierregee @veralygit @nattadex @chloezxyy @kevzzsk
package.json                                    @thedoublejay @kyleleow @pierregee @veralygit @nattadex @chloezxyy @kevzzsk
package-lock.json                               @thedoublejay @kyleleow @pierregee @veralygit @nattadex @chloezxyy @kevzzsk
tsconfig.json                                   @thedoublejay @kyleleow @pierregee @veralygit @nattadex @chloezxyy @kevzzsk

CONTRIBUTING.md                                 @thedoublejay @kyleleow @pierregee
README.md                                       @thedoublejay @kyleleow @pierregee
LICENSE                                         @thedoublejay @kyleleow @pierregee
