Repository DeFiCh/defichain.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(route): update routing for /learn and its child pages (#720)
  next.config.js
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(deps): bump deps
  package.json
  pnpm-lock.yaml
Owners: @thedoublejay, @kyleleow, @pierregee, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(ops): remove lock space
  src/pages/explore/dfi/_components/GetDFISectionExchanges.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

remove bittrex
  cypress/deprecated/dfi.spec.ts
  cypress/fixture/dfi.config.ts
  src/components/icons/assets/exchanges/Bittrex.tsx
  src/components/icons/assets/exchanges/index.ts
  src/layouts/components/BuyDFIButton.tsx
  src/pages/explore/dfi/_components/GetDFISectionExchanges.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix lint
  cypress/deprecated/dfi.spec.ts
  src/components/icons/assets/exchanges/index.ts
  src/layouts/components/BuyDFIButton.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

chore(ops): remove bittrex and lock (#729)
  cypress/deprecated/dfi.spec.ts
  cypress/fixture/dfi.config.ts
  src/components/icons/assets/exchanges/Bittrex.tsx
  src/components/icons/assets/exchanges/index.ts
  src/layouts/components/BuyDFIButton.tsx
  src/pages/explore/dfi/_components/GetDFISectionExchanges.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

change meta chain agenda status
  public/locales/de/page-meta-chain.json
  public/locales/en-US/page-meta-chain.json
  public/locales/fr/page-meta-chain.json
  public/locales/zh-Hans/page-meta-chain.json
  public/locales/zh-Hant/page-meta-chain.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

change meta chain agenda status (#731)
  public/locales/de/page-meta-chain.json
  public/locales/en-US/page-meta-chain.json
  public/locales/fr/page-meta-chain.json
  public/locales/zh-Hans/page-meta-chain.json
  public/locales/zh-Hant/page-meta-chain.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): add changenow exchange
  src/components/icons/assets/exchanges/ChangeNow.tsx
  src/components/icons/assets/exchanges/index.ts
  src/pages/explore/dfi/_components/GetDFISectionExchanges.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): add changenow exchange (#732)
  src/components/icons/assets/exchanges/ChangeNow.tsx
  src/components/icons/assets/exchanges/index.ts
  src/pages/explore/dfi/_components/GetDFISectionExchanges.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

made changes to faq question
  public/locales/de/page-meta-chain.json
  public/locales/en-US/page-meta-chain.json
  public/locales/fr/page-meta-chain.json
  public/locales/zh-Hans/page-meta-chain.json
  public/locales/zh-Hant/page-meta-chain.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

ran e2e tests
  cypress/e2e/metachain/metachain.spec.ts
Owners: none

feat(ui-ux): changed MetaChain FAQ answer (#733)
  cypress/e2e/metachain/metachain.spec.ts
  public/locales/de/page-meta-chain.json
  public/locales/en-US/page-meta-chain.json
  public/locales/fr/page-meta-chain.json
  public/locales/zh-Hans/page-meta-chain.json
  public/locales/zh-Hant/page-meta-chain.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): download assets section
  public/assets/svg/dfi/dfi-powered-by.svg
  public/downloads/visualAssets/dfi-3d-logo.png
  public/downloads/visualAssets/dfi-3d-logo.svg
  public/downloads/visualAssets/dfi-btc-logo.png
  public/downloads/visualAssets/dfi-btc-logo.svg
  public/downloads/visualAssets/dfi-logo.png
  public/downloads/visualAssets/dfi-logo.svg
  public/downloads/visualAssets/dfi-powered-by.png
  public/downloads/visualAssets/dfi-powered-by.svg
  public/downloads/visualAssets/dfi.png
  public/downloads/visualAssets/dfi.svg
  public/locales/en-US/page-explore-wallets.json
  src/components/icons/assets/downloadAssets/BTCDFILogo.tsx
  src/components/icons/assets/downloadAssets/DFI3D.tsx
  src/components/icons/assets/downloadAssets/DeFiChainAsset.tsx
  src/components/icons/assets/downloadAssets/PoweredByDeFiChainLogo.tsx
  src/pages/explore/wallets/_components/DownloadAssetsCard.tsx
  src/pages/explore/wallets/_components/VisualAssetsSection.tsx
  src/pages/explore/wallets/index.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): hover ux on card
  public/locales/en-US/page-explore-wallets.json
  src/components/commons/Buttons.tsx
  src/pages/explore/wallets/_components/DownloadAssetsCard.tsx
  src/pages/explore/wallets/_components/VisualAssetsSection.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix eslilnt
  src/components/commons/Buttons.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix: add .zip file
  public/downloads/visualAssets/visualAssets.zip
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): download assets section (#734)
  public/assets/svg/dfi/dfi-powered-by.svg
  public/downloads/visualAssets/dfi-3d-logo.png
  public/downloads/visualAssets/dfi-3d-logo.svg
  public/downloads/visualAssets/dfi-btc-logo.png
  public/downloads/visualAssets/dfi-btc-logo.svg
  public/downloads/visualAssets/dfi-logo.png
  public/downloads/visualAssets/dfi-logo.svg
  public/downloads/visualAssets/dfi-powered-by.png
  public/downloads/visualAssets/dfi-powered-by.svg
  public/downloads/visualAssets/dfi.png
  public/downloads/visualAssets/dfi.svg
  public/downloads/visualAssets/visualAssets.zip
  public/locales/en-US/page-explore-wallets.json
  src/components/commons/Buttons.tsx
  src/components/icons/assets/downloadAssets/BTCDFILogo.tsx
  src/components/icons/assets/downloadAssets/DFI3D.tsx
  src/components/icons/assets/downloadAssets/DeFiChainAsset.tsx
  src/components/icons/assets/downloadAssets/PoweredByDeFiChainLogo.tsx
  src/pages/explore/wallets/_components/DownloadAssetsCard.tsx
  src/pages/explore/wallets/_components/VisualAssetsSection.tsx
  src/pages/explore/wallets/index.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(u9i-ux): caps on visual assets section
  public/locales/en-US/page-explore-wallets.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

[ImgBot] Optimize images
  public/assets/img/herobanner/hero-banner-meta-chain.png
  public/assets/img/index/mc_accent.png
  public/assets/img/index/metachain-jellyfish.png
  public/assets/img/metachain/mc_devnet.png
  public/assets/img/metachain/mc_devnet_hover.png
  public/assets/img/metachain/mc_floppynet.png
  public/assets/img/metachain/mc_floppynet_hover.png
  public/assets/img/metachain/mc_infrastructure.png
  public/assets/img/metachain/mc_infrastructure_hover.png
  public/assets/img/metachain/mc_mainnet.png
  public/assets/img/metachain/mc_mainnet_hover.png
  public/assets/img/metachain/mc_testnet.png
  public/assets/img/metachain/mc_testnet_hover.png
  public/assets/svg/dfi/dfi-powered-by.svg
  public/downloads/visualAssets/dfi-3d-logo.png
  public/downloads/visualAssets/dfi-3d-logo.svg
  public/downloads/visualAssets/dfi-btc-logo.png
  public/downloads/visualAssets/dfi-btc-logo.svg
  public/downloads/visualAssets/dfi-logo.png
  public/downloads/visualAssets/dfi-logo.svg
  public/downloads/visualAssets/dfi-powered-by.png
  public/downloads/visualAssets/dfi-powered-by.svg
  public/downloads/visualAssets/dfi.png
  public/downloads/visualAssets/dfi.svg
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(ui-ux): adjust download asset on card
  src/components/icons/assets/downloadAssets/BTCDFILogo.tsx
  src/components/icons/assets/downloadAssets/DFI3D.tsx
  src/pages/explore/wallets/_components/VisualAssetsSection.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): roadmap 2024
  cypress/e2e/metachain/metachain.spec.ts
  public/assets/icon/DvmIcon.tsx
  public/assets/icon/GrowthIcon.tsx
  public/assets/icon/MetachainIcon.tsx
  public/assets/icon/RndIcon.tsx
  public/locales/en-US/page-meta-chain.json
  src/pages/metachain/_components/MetaChainAgenda.tsx
  src/pages/metachain/_components/MetaChainRoadmap.tsx
  src/pages/metachain/index.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix e2e
  cypress/e2e/metachain/metachain.spec.ts
  src/pages/metachain/_components/MetaChainRoadmap.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

update translations
  public/locales/de/page-meta-chain.json
  public/locales/fr/page-meta-chain.json
  public/locales/zh-Hans/page-meta-chain.json
  public/locales/zh-Hant/page-meta-chain.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

update translations de and fr
  public/locales/de/page-explore-wallets.json
  public/locales/fr/page-explore-wallets.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(ui-ux): visual assets card section (#735)
  public/locales/de/page-explore-wallets.json
  public/locales/en-US/page-explore-wallets.json
  public/locales/fr/page-explore-wallets.json
  src/components/icons/assets/downloadAssets/BTCDFILogo.tsx
  src/components/icons/assets/downloadAssets/DFI3D.tsx
  src/pages/explore/wallets/_components/VisualAssetsSection.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix: url link btn
  src/pages/metachain/_components/MetaChainRoadmap.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

feat(ui-ux): roadmap 2024 (#737)
  cypress/e2e/metachain/metachain.spec.ts
  public/assets/icon/DvmIcon.tsx
  public/assets/icon/GrowthIcon.tsx
  public/assets/icon/MetachainIcon.tsx
  public/assets/icon/RndIcon.tsx
  public/locales/de/page-meta-chain.json
  public/locales/en-US/page-meta-chain.json
  public/locales/fr/page-meta-chain.json
  public/locales/zh-Hans/page-meta-chain.json
  public/locales/zh-Hant/page-meta-chain.json
  src/pages/metachain/_components/MetaChainAgenda.tsx
  src/pages/metachain/_components/MetaChainRoadmap.tsx
  src/pages/metachain/index.page.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

Update page-meta-chain.json
  public/locales/de/page-meta-chain.json
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(ui-ux): de translations on landing page
  public/locales/de/page-index.json
  src/components/commons/StatisticPanel.tsx
  src/components/index/BlockchainFeaturesSection.tsx
  src/components/index/HomePageHeader.tsx
  src/components/index/StatisticsDisplay.tsx
  src/hooks/useUnitSuffix.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix e2e
  src/components/index/HomePageHeader.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix e2e
  cypress/e2e/homepage.spec.ts
  src/components/index/HomePageHeader.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix comments
  cypress/e2e/homepage.spec.ts
  src/components/index/StatisticsDisplay.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

fix(ui-ux): de translations on landing page (#739)
  cypress/e2e/homepage.spec.ts
  public/locales/de/page-index.json
  src/components/commons/StatisticPanel.tsx
  src/components/index/BlockchainFeaturesSection.tsx
  src/components/index/HomePageHeader.tsx
  src/components/index/StatisticsDisplay.tsx
  src/hooks/useUnitSuffix.tsx
Owners: @thedoublejay, @kyleleow, @pierregee, @G9000, @veralygit, @nattadex, @chloezxyy, @kevzzsk

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @thedoublejay
/.husky/                                        @thedoublejay

/src/                                           @thedoublejay @kyleleow @pierregee @G9000 @veralygit @nattadex @chloezxyy @kevzzsk

/src/styles/                                    @thedoublejay @kyleleow @pierregee @G9000 @veralygit @nattadex @chloezxyy @kevzzsk

/public/                                        @thedoublejay @kyleleow @pierregee @G9000 @veralygit @nattadex @chloezxyy @kevzzsk

next.config.js                                  @thedoublejay @kyleleow @pierregee @veralygit @nattadex @chloezxyy @kevzzsk
package.json                                    @thedoublejay @kyleleow @pierregee @veralygit @nattadex @chloezxyy @kevzzsk
package-lock.json                               @thedoublejay @kyleleow @pierregee @veralygit @nattadex @chloezxyy @kevzzsk
tsconfig.json                                   @thedoublejay @kyleleow @pierregee @veralygit @nattadex @chloezxyy @kevzzsk

CONTRIBUTING.md                                 @thedoublejay @kyleleow @pierregee
README.md                                       @thedoublejay @kyleleow @pierregee
LICENSE                                         @thedoublejay @kyleleow @pierregee
