Repository DeFiCh/defichain.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @joeldavidw, @siradji

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @joeldavidw
/.husky/                                        @fuxingloh @joeldavidw

/src/                                           @joeldavidw @siradji

/src/styles/                                    @joeldavidw

/public/                                        @joeldavidw

next.config.js                                  @joeldavidw
package.json                                    @joeldavidw
package-lock.json                               @joeldavidw
tsconfig.json                                   @joeldavidw

CONTRIBUTING.md                                 @fuxingloh @joeldavidw
README.md                                       @fuxingloh @joeldavidw
LICENSE                                         @fuxingloh

Updated netlify.toml
  netlify.toml
Owners: none

updated en timeline
  assets/js/main.js
  content/en/_index.en.md
  static/img/timeline/2021/Carbon-neutral.png
  static/img/timeline/2021/DFC-Foundation.png
  static/img/timeline/2021/DeFi-Scan.png
  static/img/timeline/2021/Eunos-Upgrade.png
  static/img/timeline/2021/Fort-Canning-Update-blank.png
  static/img/timeline/2021/Tranak_April.jpeg
  static/img/timeline/2022/Browser-Extension-Wallet2x.png
  static/img/timeline/2022/Desktop-Light-Wallet2x.png
  static/img/timeline/2022/EVM2x.png
  static/img/timeline/2022/NFTs2x.png
  static/img/timeline/2022/On-Chain-governance2x.png
Owners: none

Added cypress workflow
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/ci/wait-for
Owners: @fuxingloh, @joeldavidw

Reduced cypress workers to 2
  .github/workflows/ci-e2e.yml
Owners: @fuxingloh, @joeldavidw

update cypress
  cypress.json
  cypress/.eslintrc
  cypress/integration/pages/index.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
Owners: @joeldavidw

Fixed nyc and codecov
  cypress/integration/pages/index.spec.ts
  cypress/support/index.js
  package.json
  src/pages/index.page.tsx
Owners: @joeldavidw, @siradji

removed content folder from lint
  .github/workflows/ci.yml
Owners: @fuxingloh, @joeldavidw

Implement babel instead of swc
  .eslintrc
  babel.config.js
  package-lock.json
  package.json
Owners: @joeldavidw

Fixed lint and cypress
  package-lock.json
  package.json
Owners: @joeldavidw

Updated packages
  package-lock.json
  package.json
Owners: @joeldavidw

Added imagebot and removed nycrc
  .nycrc
  src/.imgbotconfig
Owners: @joeldavidw, @siradji

Fixed packages
  package-lock.json
  package.json
Owners: @joeldavidw

Fixed packages resolution
  package-lock.json
  package.json
  src/layouts/Default.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
Owners: @joeldavidw, @siradji

Added multi-lang support using next-i18next
  next-i18next.config.js
  next.config.js
  package-lock.json
  package.json
  public/locales/en-US/common.json
  public/locales/zh-Hans/common.json
  public/locales/zh-Hant/common.json
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
Owners: @joeldavidw, @siradji

Fixed test
  cypress/integration/pages/index.spec.ts
Owners: none

Added ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-enhancement.md
  .github/ISSUE_TEMPLATE/3-general.md
Owners: @fuxingloh, @joeldavidw

Updated README.md
  README.md
Owners: @fuxingloh, @joeldavidw

Added sitemap.js
  next-sitemap.js
Owners: none

Updated LICENSE
  LICENSE
Owners: @fuxingloh

Added security headers
  next.config.js
Owners: @joeldavidw

Added security headers
  public/_headers
Owners: @joeldavidw
